// Base colors
$color-font: #333333;
$color-dark-gray: #828282;
$color-light-gray: #f2f2f2;
$color-red: #e2350d;
$color-white: #ffffff;

// Type colors
$type-fire: #ee7f33;
$type-normal: #a9a778;
$type-water: #6890f0;
$type-grass: #78c84f;
$type-ice: #98d8d7;
$type-poison: #a040a1;
$type-ground: #e0c069;
$type-flying: #a790ef;
$type-bug: #a8b821;
$type-rock: #b6a037;
$type-ghost: #705797;
$type-dragon: #724ef9;
$type-dark: #6f5848;
$type-steel: #b8b8d0;
$type-fairy: #f4c8e2;
$type-psychic: #e95587;
$type-electric: #f8cf32;
$type-fighting: #c03228;
